<article id="blog_id_<%= blog.id %>" class="blog-post">
  <%= link_to blog.title, blog, class:"blog-post-title"%>
  <p class="blog-post-content"><%= blog.content %></p>
  <p class="post-info">
    <span class="meta-info">
      <%= octicon 'calendar', height: 16 %>
      <time><%= blog.create_date %></time>
    </span>
    <span class="meta-info">
      <%= octicon 'file-directory', height: 16 %>
      分类
    </span>
  </p>
</article>