<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <% if blogs_new_page? params %>
      <%= javascript_include_tag 'plupload.full.min'%>
      <%= javascript_include_tag 'qiniu.min' %>
      <%= javascript_include_tag 'simplemde.min' %>
    <% end %>
  </head>

  <body>
    <%= render 'share/navbar' %>
    <%= yield %>
    <%= render 'share/footer' %>
    <%= javascript_include_tag 'application'%>
  </body>
</html>
